#contenedor{
	margin: 0px auto;
	width: 85%;

}			
#main{
	background-color: #e7e7e7;
	padding: 25px;
}	
#reglas{
	background-color: #f2f2f2;
	padding: 25px;
	margin: 20px 0 0 0;
}

h1{
	font-family:cursive;
	font-stretch:ultra-condensed;

		}
h2{
font-weight: 800;
}
ol{
	line-height: 40px;
}
h4{
	font-style: italic;
	font-variant: small-caps;
}
p{
	font-size: 1em;
}
span{
	font-size: 1.2em;
	font-weight: 700;
}